{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_logo_png: PNG fallback for logo.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
<div class="branding">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <div class="site-logo">
      {% if site_logo_png %}
        <img src="{{ site_logo }}"
             onerror="this.src='{{ site_logo_png }}'; this.onerror=null;"
             alt="{{ 'Home'|t }}"/>
      {% else %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
      {% endif %}
    </div>
    {% if site_name %}
      <div class="site-name">{{ site_name }}</div>
    {% endif %}
    {% if site_slogan %}
      <div class="site-slogan"><span>{{ site_slogan }}</span></div>
    {% endif %}
  </a>
</div>
